pyrogram
pymongo==4.3.3
pymongo[srv]
asyncio==3.4.3
gpytranslate==1.5.1
requests
tgcrypto==1.2.5
telegraph==2.2.0
wget==3.2
SafoneAPI
youtube_search
yt_dlp
ffmpeg-python
play_scraper
beautifulsoup4>=4.9.1
Pillow==9.0.1
pytz==2023.3
pytube
youtube_dl
youtube-search-python
FFmpeg==1.4
aiofiles
aiohttp
httpx
httpx[http2]
git+https://github.com/KurimuzonAkuma/pyrogram.git
TgCrypto
py-tgcalls
matplotlib
beautifulsoup4
aiofiles
requests
wget
SpeechRecognition
pyttsx3
pydub
wikipedia
pymongo
google
fuzzywuzzy
aiohttp
pymongo[srv]
yt_dlp
asyncio
youtube_search_python
youtube_dl
youtube_search
python-ffmpeg
ffmpeg
motor==3.6.0
gtts
